<h1>Meal Type Details</h1>

<form method="post">
    <fieldset>
        <label for="name" class="col-sm-2">Name: *</label>
        <input name="name" id="name" required />
    </fieldset>
    <button class="btn btn-primary offset-sm-2">Save</button>
</form>
