<div class="row">
    <div class="col-lg-12">
        <div class="page-header"></div>
        <div class="bs-component">
            <section class="et-slide" id="about">
                <h1>Meal Type Details</h1>
                <form method="post">
                    <fieldset>
                        <label for="name" class="col-sm-2">Name: *</label>
                        <input name="name" id="name" required />
                    </fieldset>
                    <button class="btn btn-primary offset-sm-2">Save</button>
                </form>
            </section>
        </div>
    </div>
</div>
