<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
        </div>
        <div class="bs-component">
            <section class="et-slide" id="about">
                <div class="jumbotron">
                    <h1 class="display-3">Yikes!</h1>
                    <p class="lead">This page is currently self-isolating.</p>
                    <hr class="my-4">
                    <p>Check back next week!</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>