<!-- Main -->
<main class="et-main">
    <section class="et-slide" id="about">
        <h1>What is Meal Planner?</h1>
        <h3>Duh, it's a meal planning application</h3>
        <button type="button" onclick="window.location.href = '/about';" class="btn btn-success about">Learn More</button>
    </section>
    <section class="et-slide" id="meals">
        <h1>Get Started</h1>
        <h3>Add some meals or something, idk</h3>
        <button type="button" onclick="window.location.href = '/register';" class="btn btn-success tryIt">Try it Now</button>
    </section>
    <section class="et-slide" id="calendar">
        <h1>Your Week</h1>
        <h3>View your Calendar, maybe?</h3>
        <button type="button" onclick="window.location.href = '/calendar';" class="btn btn-success calendar">Calendar</button>
    </section>
</main>



