<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
      <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  <!-- Header Nav -->
  <section class="header">
      <h1 id="headerLogo"><a href="/" id="headerLogo">MEAL PLANNER</a></h1>
      <h3>something interesting goes here...and maybe a logo</h3>
      <div class="navbar">
          <a class="tab" href="/about">About</a>
          <a class="tab" href="/meals">Meals</a>
          <a class="tab" href="/calendar">Calendar</a>
          <a class="tab" href="/register">Register</a>
          <a class="tab" href="/login">Login</a>
          <span class="tabSlider"></span>
      </div>
  </section>
    {{{body}}}

<!--  footer -->
  <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Meals</a></li>
                          <li><a href="#">Calendar</a></li>
                          <li><a href="#">Other Link</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Heading</h3>
                      <ul>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Another Link</a></li>
                          <li><a href="#">Feedback</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>Some Heading</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                  <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
              </div>
              <p class="copyright">Linda Ryan &copy; 2020</p>
          </div>
      </footer>
  </div>
  <button id="toTopBtn"><svg width="24" height="24" viewBox="0 0 24 24">
      <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
  </svg></button>
  </body>
<script src='/javascripts/scripts.js'></script>
</html>
