<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
      <link rel='stylesheet' href='/stylesheets/style.css'>
      // google verification
      <meta name="google-site-verification" content="0gyb5DfE2g90p3oyJwPABk63K_xukW9CuQBTx_VyCoA" />

  </head>
  <body>
  <div class="bs-component">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/">Meal Planner</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/about">Features<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/meals">Meals</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/calendar">Calendar</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{user.username}}</a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                      </li>
                  {{else}}
                      <li class="nav-item">
                          <a class="nav-link" href="/register">Register</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/login">Login</a>
                      </li>
                  {{/if}}
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
      </nav>
  </div>
    {{{body}}}

<!--  footer -->
  <div class="footer bg-primary">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Features</h3>
                      <ul>
                          <li><a href="#">Meals</a></li>
                          <li><a href="#">Calendar</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>Meal Planner</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                  <div class="item social col"><a href="#">
                      <img src="/images/icons/facebook-white.png"></a><a href="#">
                      <img src="/images/icons/twitter-white.png"></a><a href="#">
                      <img src="/images/icons/linkedin-white.png"></a><a href="#">
                      <img src="/images/icons/instagram-white.png"></a><a href="#">
                  </a></div>
              </div>
              <p class="copyright">Linda Ryan &copy; 2020</p>
          </div>
      </footer>
  </div>
      <a href="#"><img src="/images/icons/toTop.png" id="toTopBtn"></a>
  </body>
<script src='/javascripts/scripts.js'></script>
</html>
