<h1>Login</h1>
<div id="fb-root"></div>
{{#if (messages)}}
    <div class="alert alert-danger">
        Invalid Login
    </div>
{{else}}
    <div class="alert alert-info">
        Please enter your credentials
    </div>
{{/if}}



<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-sm-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-sm-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-primary offset-2">Login</button>
    </fieldset>
    <fieldset>
<!--        <div class="fb-login-button offset-2" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>-->
        <a href="/google"><img src="/images/google.png" alt="Google Sign-in"></a>
<!--                <a href="/facebook"><img src="/images/facebook.png" alt="Facebook Sign-in"></a>-->
        <hr />
        Need an account?  <a href="/register" title="Register">Register</a>
    </fieldset>
</form>
