<!--<h1>Login to Meal Planner</h1>-->

<!--<div class="row">-->
<!--    <div class="col-lg-12">-->
<!--        <div class="page-header">-->
<!--        </div>-->
<!--        <div class="bs-component">-->
<!--            <section class="et-slide" id="about">-->
<!--                <div class="jumbotron">-->
<!--                    <h1 class="display-3">Coming Soon!</h1>-->
<!--                    <p class="lead">I promise.</p>-->
<!--                    <hr class="my-4">-->
<!--                    <p>Check back next week!</p>-->
<!--                    <p class="lead">-->
<!--                        <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<h1>Login</h1>

<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-sm-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-sm-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-primary offset-2">Login</button>
        <hr />
        Need an account?  <a href="/register" title="Register">Register</a>
    </fieldset>
</form>
