a {
  color: #00B7FF;
}

body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}
/*********************************************************************************************************************/
/* header nav */
/*********************************************************************************************************************/
body > section,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

h1, h3, button {
  z-index: 2;
}
#about:after {
  content: ' ';
  /*display: block;*/
  position: absolute;
  /*left: 0;*/
  /*top: 0;*/
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
  /*opacity: 0.6;*/
  /*background-image: url("../images/bg/ingredients.jpg");*/
  background-repeat: no-repeat;
  /*background-position: 50% 0;*/
  background-size: cover;
}

#about {
  /*background-image: url("../images/bg/ingredients0.jpg");*/
  /*color: white;*/
}
#meals {
  /*color: white;*/
  /*background-image: url("../images/bg/breakfast.jpg");*/
}
#calendar {
  color: white;
  background-image: url("../images/bg/salad.jpg");
}
body > section {
  height: 300px;
}
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
body section h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
/*body > section > div*/
.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  padding: 0;
}
/*body > section > div--top*/
.navbar--top {
  position: fixed;
  top: 0;
}


.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.tab:hover {
  color:white;
  background: #27a125;
  transition: all 0.5s ease;
  text-decoration: none;
}

/*.tabSlider*/
span {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  body > section,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-slide h3 {
    font-size: 1rem;
  }
}
.tab {
  font-size: 1rem;
}
#headerLogo {
  text-decoration: none;
  color: inherit;
}
