body > section,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
}










/*********************************************************************************************************************/
/*footer*/
/*********************************************************************************************************************/
.footer {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
}
.footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
.footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
.footer ul a:hover {
    opacity:0.8;
}

/*********************************************************************************************************************/
/* media queries */
/*********************************************************************************************************************/

@media (max-width:767px) {
    .footer .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer .item.text {
        margin-bottom:0;
    }
}

.footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.foofooterter-dark .item.social > a {
    margin:0 15px;
    /*opacity:0.75;*/
}

.footer .item.social > a:hover {
    opacity:0.9;
}

.footer .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}



/*********************************************************************************************************************/
/* back to top button */
/*********************************************************************************************************************/
button {
    appearance: none !important;
    border: none;
    border-radius: 4px;
    height: 3rem;
    width: 8rem;
    font-weight: 600;
    color: white;
    background: #3f51b5;
    line-height: 1;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 100ms;
}
button:hover, button:focus {
    /*background: shade(#3f51b5, 10%);*/
    /*filter: brightness(10%);*/
    outline: none;
}
button:active {
    /*background: shade(#3f51b5, 20%);*/
    /*filter: brightness(10%);*/
    /* transform: scale(0.98);*/
    transform: translatey(2px);
}
/* Floating Button*/
#toTopBtn {
    /* background: tint(#3f51b5, 40%);*/
    background: #fff;
    border-radius: 20%;
    width: 3rem;
    height: 3rem;
    position: fixed;
    float: right;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    user-select: none;
    box-shadow: 0 7px 20px -4px #000;
    opacity: 0.8;
}
#toTopBtn > img {
    height: 100%;
    width: auto;
}
/*!*Togglable class for floating button*!*/
/*.toTopBtn-disabled {*/
/*  opacity: 0.7;*/
/*  cursor: default;*/
/*  user-select: none;*/
/*}*/
