<div class="row">
    <div class="col-lg-12">
        <div class="page-header"></div>
        <div class="bs-component">
            <section class="et-slide" id="about">
                <h1>Add a Meal</h1>
                <form method="post">
                    <fieldset>
                        <label for="name">Name:  </label>
                        <input name="name" id="name" required>
                    </fieldset>
                    <fieldset>
                        <label for="mealType">Type:  </label>
                        <!-- change to dropdown-->
                        <!-- <input name="mealType" id="mealType">-->
                        <select name="mealType" id="mealType">
                            {{#each mealTypes}}
                                <option>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </fieldset>
                    <button class="btn btn-primary btn-lg offset-sm-2" role="button">Save</button>
                </form>
            </section>
        </div>
    </div>
</div>