<div class="row">
    <div class="col-lg-12">
        <div class="page-header"></div>
        <div class="bs-component">
            <section class="et-slide" id="about">
                <h1>Add a Meal</h1>
                <form method="post">
                    <fieldset>
                        <label for="name">Name:  </label>
                        <input name="name" id="name" required>
                    </fieldset>
                    <fieldset>
                        <label for="mealType">Type:  </label>
                        <select name="mealType" id="mealType">
                            {{#each mealTypes}}
                                <option>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </fieldset>
                    <button class="btn btn-primary btn-lg offset-sm-2" role="button">Save</button>
                </form>
<!--                form for file upload-->
<!--                <form action="/upload/photo" enctype="multipart/form-data" method="POST">-->
<!--                    <input type="file" name="myImage" accept="image/*" />-->
<!--                    <input type="submit" value="Upload Photo"/>-->
<!--                </form>-->
            </section>
        </div>
    </div>
</div>
